.page-datasheet {
  background: url('../images/backgrounds/Frame6.png');
  background-size: 100vw 100vh;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .page-datasheet {
    margin: 0;
    background: url('../images/Android/Android5.png');
    background-size: 100vw 100vh;
    height: 100%;
    width: 100%;
  }
}
