.nav-home {
  width: 100%;
  margin-top: 20px;
  margin-left: 40px;
}

.nav-home a {
  text-decoration: none;
  color: black;
  margin-left: 60px;
  font-size: 36px;
}

.img-logo-home {
  width: 120px;
  height: 113px;
}

.hr-home {
  width: 50%;
  margin: 0;  
}

.body-home {
  width: 70%;
  margin: 0 auto;
}

.h1-home {
  text-align: center;
}

.p-home {
  text-align: justify;
}
