@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.page-semfep {
  height: 100%;
  width: 100%;
}

.comecar-container-semfep{
  width: auto;
  float: right; 
  margin-bottom: 0;
  position: absolute; 
  right: 16%; 
  bottom: 13%;
  display: flex;
  align-items: center;
}

.h2-semfep {
  margin: 0;
  font-size: 3vw;
  font-family: 'Bebas Neue', cursive;
  
}

.button-play-semfep {
  cursor: pointer;
  margin-left: 15px;
}

.img-button {
  width: 6vw;
  /* min-width: 20px; */
  height: auto;
}

.background-semfep {
  width: 100vw;
  height: 100vh;
  position: absolute;

}
