@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.semfep-page {
  background: url('../images/backgrounds/Frame2.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

h2 {
  font-family: 'Bebas Neue', cursive;
}

.button.play {
  box-sizing: border-box;
  width: 74px;
  height: 74px;
  border-width: 37px 0px 37px 74px;
  border-color: transparent transparent transparent #202020;
}
