@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.warning-page {
  background: url('../images/backgrounds/Frame2.png');
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 768px) {
  .warning-page {
    margin: 0;
    background: url('../images/Android/Android2.png');
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
  }
} 