@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.container-datasheet {
  display: flex;
  flex-direction: column;
  width: 60vw;
  text-align: justify;
  background-color: white;
  opacity: 0.9;
  margin: 2% 20%;
  padding: 0 10px;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-y: scroll;
}

@media (max-width: 1366px) {
  .container-datasheet {
    max-height: 70vh;
    margin-top: 6.5vh;
    margin-bottom: 3vh;
  }
  .container-datasheet h1 {
    text-align: center;
  }
}
