.footer-Footer {
  display: flex;
  width: 100%;
  height: auto;
  background: #fff;
  padding: 10px 0;
  position:absolute;
  bottom:0;
}

.links-footer {
  width: 50%;
  font-size: 24px;
  margin: 0 0 0 20px;
  align-self: center;
}

.links-footer a {
  color: black;
  text-decoration: none;
}


.imgs-container {
  width: 50%; 
  display: flex;
  justify-content: flex-end;
}


.img-footer {
  object-fit: contain;
  height: 50px;
  width: auto;
  margin: 0 20px
}
