.footer-Footer {
  width: 100%;
  height: auto;
  min-height: 32px;
  background: #fff;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
}

.links-footer a {
  display: none;
}

.imgs-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-footer {
  object-fit: contain;
  max-height: 50px;
  width: 7%;
  min-width: 20px;
  margin: 0 5%;
}

.footer-deadline {
  display: none;
}

@media (min-width: 860px) {
  .footer-Footer {
    display: flex;
    padding: 10px 0;
  }

  .links-footer {
    width: 50%;
    font-size: 24px;
    margin: 0 0 0 20px;
    align-self: center;
  }

  .links-footer a {
    color: black;
    text-decoration: none;
    display: inline;
  }

  .imgs-container {
    width: 50%;
    justify-content: flex-end;
  }

  .img-footer {
    height: 50px;
    width: auto;
    margin: 0 20px;
  }

  .footer-deadline {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    left: -12vw;
    position: relative;
  }

  .footer-deadline p {
    margin: 2px 0;
    width: 24vw;
  }

  .footer-deadline p:nth-of-type(2) {
    margin-top: 8px;
  }
}


