#frames-container {
  width: 80%;
  min-width: 390px;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  background-color: greenyellow;
}

.auto-grid {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.frame {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  margin: 12px 6%;
}

.frame:hover {
  cursor: pointer;
}

.link-grid-frame {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.resistencia {
  background-color: var(--resistencia-color);
}

.seriedade {
  background-color: var(--seriedade-color);
}

.autonomia {
  background-color: var(--autonomia-color);
}

.movimento {
  background-color: var(--movimento-color);
}

.linguagem {
  background-color: var(--linguagem-color);
}

.transformacao {
  background-color: var(--transformação-color);
}

.saudade {
  background-color: var(--saudade-color);
}

.felicidade {
  background-color: var(--felicidade-color);
}

@media (min-width: 769px){
  #frames-container {
    width: 90%;
    min-width: 1170px;
    display: flex;
    flex-wrap: wrap;
  }

  .auto-grid {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
  }

  .frame {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    margin: 30px 6%;
  }

  .link-grid-frame {
    font-size: 14px;
  }
}