@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.container-framework {
  overflow-y: scroll;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  width: 70vw;
  max-height: 75vh;
  text-align: justify;
  margin: 2% 15%;
  padding: 0 10px;
  background-color: white;
  opacity: 0.9;
  font-family: 'Roboto Condensed', sans-serif;
}

.subtitle-framework {
  align-self: center;
}

.title-framework {
  align-self: center;
}

ol li:not(:last-child) {
  margin-bottom: 15px;
}

@media (min-width: 769px) and (max-width: 1366px) {
  .container-framework {
    max-height: 67vh;
  }
}

@media (max-width: 768px) {
  .title-framework,
  .subtitle-framework {
    text-align: center;
  }

  .container-framework {
    max-height: 73vh;
    margin: 0 15%;
  }
}

.button-framework {
  margin-bottom: 20px;
}