.container-principal {
  width: 100%;
  height: 70%;
  margin-top: 10px;

  /* background-color: rgba(255, 0, 0, 0.664); */
  display: flex;
  justify-content: center;
}

#frames-container {
  width: 50%;
  /* background-color: rgba(172, 255, 47, 0.678); */
}

.auto-grid {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: repeat(4,1fr);
  justify-items: center;
  grid-gap: 1rem;
}

.link-grid-frame {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  /* margin: 12px 6%; */
}

.frame {
  font-size: 8px;
}

.resistencia {
  background-color: var(--resistencia-color);
}

.seriedade {
  background-color: var(--seriedade-color);
}

.autonomia {
  background-color: var(--autonomia-color);
}

.movimento {
  background-color: var(--movimento-color);
}

.linguagem {
  background-color: var(--linguagem-color);
}

.transformacao {
  background-color: var(--transformação-color);
}

.saudade {
  background-color: var(--saudade-color);
}

.felicidade {
  background-color: var(--felicidade-color);
}

.link-grid-frame {
  color: white;

}

@media (min-width: 1024px){
  .container-principal {
    height: 70%;
    /* background-color: rgba(255, 0, 0, 0.664); */
  }

  #frames-container {
    width: 70%;
    align-items: center;
    /* background-color: rgba(172, 255, 47, 0.678); */
  }

  .link-grid-frame {
    width: 150px;
    height: 150px;
  }
  .auto-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-column: repeat(4,1fr);
  }

  .frame {
    font-size: 15px;
  }

}