.header-Header {
  width: 100vw;
  height: 98px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  background: #f5f5f5;
  opacity: 0.8;
}

.img-header {
  position: absolute;
  width: 100%;
  max-width: 316px;
  height: auto;
  left: 0px;
  top: 28px;
  opacity: 1;
}

.nav-header {
  width: 100%;
  font-family: var(--nav-bar-font-family);
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.link-header {
  max-width: 15%;
  min-width: 150px;
  padding: 10px;
  height: auto;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 90%;
  background: #f1eded;
  text-decoration: none;
  color: #000000;
  box-sizing: border-box;
  border-radius: 0;
  border: 1px solid #000000;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.link-header:hover {
  background-color: #cacaca;
}